
.dropdown {
	display: flex;
	flex-direction: column;

	position: absolute;
	background: color-mix(in srgb, var(--background), white 15%);

	box-shadow: 0px 0px 15px #00000060;

	min-width: 200px;
	border-radius: 10px;
	overflow: hidden;

	& button {
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;

		position: relative;

		background: transparent;
		color: var(--foreground);
		cursor: pointer;

		border: 0;
		font: inherit;
		padding: 8px;

		transition: background 0.2s ease;

		&:hover,
		&:focus-visible {
			background: color-mix(in srgb, var(--background), white 25%);
		}
	}

	& .icon {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 25px;
		height: 25px;

		padding-right: 5px;
		margin-right: 5px;

		border-right: 1px solid color-mix(in srgb, var(--background), white 35%);
	}
}
