
.modal-container {
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;

	background-color: color-mix(in srgb, var(--background), transparent 30%);
	backdrop-filter: blur(8px);

	perspective: 2160px;
	z-index: 999;

	& .grain {
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		opacity: 0.16;
	}

	& .modal {
		border-radius: 10px;
		/* padding: 10px 25px; */

		background: #151b23;
		box-shadow: var(--box-shadow-15);

		min-width: 250px;
		min-height: 150px;

		z-index: 1000;
	}

	& .header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		& h2,
		& .close {
			margin: 10px 15px;
		}

		& .close {
			display: inline-flex;
			align-items: center;
			justify-content: center;

			padding: 0;
			width: 40px;
			height: 40px;
		}
	}
}
