.app {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	& > div {
		text-align: center;
	}
}

.score-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 300px;
	height: fit-content;

	margin: 0 auto;

	& span {
		margin-right: 8px;
		font-size: 0.86em;
	}

	& .score {
		position: relative;
	
		background: #475569 !important;
		border-radius: 3px;
	
		flex-grow: 1;
		height: 5px;
	
		& .bar {
			width: 50%;
			height: 100%;
			border-radius: 3px;
		}
	}
}

.suggestions {
	max-width: 480px;
	text-align: left;
	margin: 12px auto;
	margin-bottom: 0;
}

.info-label {
	color: var(--foreground-disabled);
}

.warning-label {
	margin-top: 22px;
	color: var(--foreground-warning);
}

.input-field {
	width: fit-content;
	margin: 4px auto;
	text-align: left;

	& label {
		margin-left: 8px;
	}
}

.loader {
	display: block;
	position: relative;

	width: 300px;
	height: 4px;

	margin: 0 auto;
	margin-top: 12px;

	& .bar {
		display: block;

		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		border-radius: 2px;

		background: var(--foreground);
	}
}
